* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    padding: 5%;
}

body {
    align-content: space-around;
    background-color: aliceblue;
    color: black;
}

canvas {
    background: white;
    margin: 40px;
}